share/mkp-dtd/markpad.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--MPSESSION-->
<!ELEMENT MKPSESSION (COMMAND*)>
<!ATTLIST MKPSESSION id CDATA #REQUIRED>

<!--COMMAND-->
<!ELEMENT COMMANDPARAM EMPTY>
<!ATTLIST COMMANDPARAM mins CDATA #REQUIRED>
<!ATTLIST COMMANDPARAM maxs CDATA #REQUIRED>

<!ELEMENT COMMAND (COMMANDPARAM*)>
<!ATTLIST COMMAND name  CDATA #REQUIRED>
